Напишете програма, която симулира банка.
Програмата трябва да има конзолно меню с команди, от които потребителя си избира коя да се изпълни.
След като се изпълни избраната команда отново се принтира менюто с команди и потребителят отново може да избере.
Последната команда в менюто е Exit и чрез нея се излиза от програмата.

Банката има в себе си регистрирани потребители.
Всеки потребител има имена, ЕГН и регистрирани банкови сметки.
Сметките имат IBAN, валута и тип (разплащателна, спестовна или кредитна)

Командите, които се очаква програмата да поддържа са:
- създаване на потребител
- създаване на сметка на потребител
- внасяне на пари по сметка на потребител
- теглене на пари от сметка на потребител

Да се имплементират и използват следните грешки:
InvalidUserData, InvalidAccountData, UserNotFound, AccountNotFound, UnsufficientBalance

Всички данни се въвеждат от конзолата след като е избрана команда.
Ако в програмата се хвърли някоя от горните грешки се очаква тя да бъде хваната и принтирана.

Програмата да се раздели на модули.
Един модул за логиката на потребителите, един за логиката на сметките, един за логиката на банката, един за дефиниция на грешките  
и накрая един основен, от който започва изпълнението на програмата и където е менюто и обработката на командите.

